/* External CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    
    background-color: skyblue;
   
    
}

.logo{
    font-size: 32px;
    text-decoration: none;
}

.content-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}


.btn-login{
    background-color: white;
    padding: 10px 15px;
    font-size: 24px;
    border-radius: 8px;
    text-decoration: none;
}




ul {
    text-align: left;
    list-style: none;
    display: flex;
    gap: 30px;
}

.hero-section {
    background-color: rgb(255, 255, 255);
    height: 1000px;
}

#main-sec {
    text-align: left;
}

/* #main-sec2 {
    text-align: center;
} */

#main-sec2 {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.button-signUp {
        background-color: rgb(255, 255, 255);
        color: rgb(14, 14, 14);
        padding: 10px 30px;
        font-size: 24px;
        margin-bottom: 30px;
        border:-1px solid black;
        cursor: pointer;
        transition: 0.15s;
        width: 200px;
}

#image {
    scroll-margin-block: 400px;
    
   
    
}

#other-section {
    background-color: rgb(110, 110, 110);
    height: 1000px;
}

#table-header {
    display: flex;
    
    
}